# -*- coding: utf-8 -*-

name: Continuous Integration

on:
  push:
    branches: [ master, public ]
  pull_request:
    branches: [ master, public ]
  workflow_dispatch:
    branches: [ master, public ]

jobs:

  CI:
    runs-on: ubuntu-latest

    steps:
    - name: Install singular
      run: |
        sudo apt-get update
        sudo apt-get install singular
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Checkout this Repo
      uses: actions/checkout@v2
      with:
        path: lips
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov
        pip install -e lips
    - name: Lint with flake8
      run: |
        cd lips
        flake8 lips/ --count --max-line-length=190 --statistics --verbose
    - name: Test with pytest
      run: |
        cd lips
        pytest |& tee coverage.txt
    - name: Run update-badges script
      run: |
        cd lips
        python update-badges.py
    - name: Update badges and commit README.md
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        file_pattern: README.md
        repository: lips
        commit_message: "Automatic badge update"
